.idea/
/eclipse-bin/
**/*.iml
.classpath
.project
.settings
build
target
project
spark-warehouse
lib/
**/*.pyc
**/*.egg
*.egg-info
.eggs/
.tox
dist/
.cache
.coverage
cov_html/
**/.DS_Store
**/html/
**/htmlcov/

